@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap'); /* Josefin Sans */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans';
}

:root {
  --landingPage1: #3b120e;
  --landingPage2: #eb1d21; /*Blood*/
  --landingPage3: #0f0501;
  --landingPage4: #190403; /*Dark Coklat*/
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

section {
  width: 100%;
  height: 100vh;
}
/* ----------------- Navbar Area ---------------- */
nav {
  width: 100%;
  position: sticky;
  top: 0;
}

nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--landingPage1);
  box-shadow: 0 0 10px var(--rgbaBlack);
  padding-left: 10%;
  padding-right: 10%;
  height: 62px;
}

nav .navbar a {
  text-decoration: none;
  color: var(--white);
}

nav .navbar .logo a {
  font-size: 25px;
  display: flex;
  margin-left: 10px;
}

nav .navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 20px 0;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 35px;
}

nav .navbar ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--landingPage2);
  display: block;
  transition: 0.2s linear;
}

nav .navbar ul li a:hover::after {
  width: 100%;
}

nav .navbar ul li a:hover {
  color: var(--landingPage2);
}

/* ------------------- Gallery Hashira Area ----------------- */
article .gallery-hashira {
  width: 100%;
  padding: 70px 0px;
  height: 150vh;
  background: var(--landingPage1);
}

article .gallery-hashira h1 {
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

article .gallery-hashira h1 strong {
  margin-left: 15px;
  color: var(--landingPage2);
  font-weight: bolder;
}

article .gallery-hashira .gallery-img-box {
  width: 100%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0 10%;
}

article .gallery-hashira .gallery-frame {
  display: flex;
  align-items: center;
  justify-content: center;
}

article .gallery-hashira .gallery-frame img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

article .gallery-hashira .gallery-frame:hover img {
  opacity: 0.4;
}

article .gallery-hashira .gallery-frame h3 {
  position: absolute;
  text-align: center;
  font-size: 35px;
  margin-bottom: 130px;
  color: var(--landingPage2);
  z-index: 5;
  opacity: 0;
  transition: 0.3s;
}

article .gallery-hashira .gallery-frame:hover h3 {
  opacity: 1;
}

article .gallery-hashira .gallery-frame i {
  position: absolute;
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
  color: var(--landingPage2);
  z-index: 5;
  opacity: 0;
  transition: 0.3s;
  font-weight: bolder;
}

article .gallery-hashira .gallery-frame:hover i {
  opacity: 1;
}

article .gallery-hashira .gallery-frame .btn-hashira a {
  text-decoration: none;
  color: var(--landingPage2);
  font-size: 25px;
  font-weight: 600px;
}

article .gallery-hashira .gallery-frame .btn-hashira a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: var(--white);
}

article .gallery-hashira .gallery-frame .btn-hashira {
  position: absolute;
  text-align: center;
  font-size: 35px;
  margin-top: 100px;
  padding: 5px 50px;
  border-radius: 7px;
  background: var(--landingPage1);
  box-shadow: 0 0 10px var(--landingPage2);
  z-index: 5;
  opacity: 0;
  transition: 0.3s;
  font-weight: bolder;
}

article .gallery-hashira .gallery-frame .btn-hashira:hover {
  background: var(--landingPage2);
}

article .gallery-hashira .gallery-frame:hover .btn-hashira {
  opacity: 1;
}

/* --------------------------- Gyomei Himejima Area -------------------- */
article .gyomei-area {
  width: 100%;
  height: 100vh;
  background: var(--landingPage1);
  justify-content: space-around;
  padding-top: 130px;
}

article .gyomei-area .title-gyomei h1 {
  font-size: 45px;
  position: relative;
  top: 15vh;
  padding-left: 220px;
  color: var(--landingPage2);
}

article .gyomei-area .title-gyomei i {
  font-size: 25px;
  position: relative;
  top: 16vh;
  padding-left: 220px;
  color: var(--white);
  font-weight: bold;
  letter-spacing: 30px;
}

article .gyomei-area .gyomei-img img {
  width: 25%;
  height: 5%;
  position: relative;
  left: 105vh;
}

article .gyomei-area p {
  width: 500px;
  text-align: justify;
  position: relative;
  left: 220px;
  bottom: 50vh;
  line-height: 22px;
  color: var(--white);
  font-weight: bold;
  font-size: 25px;
}

article .gyomei-area .gyomei-btn {
  background: var(--landingPage1);
  position: relative;
  left: 23vh;
  bottom: 45vh;
  width: 150px;
  padding: 10px 50px;
  border-radius: 10px;
}

article .gyomei-area .gyomei-btn a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

article .gyomei-area .gyomei-btn {
  box-shadow: 0 0 10px var(--landingPage2);
}

article .gyomei-area .gyomei-btn:hover {
  background: var(--landingPage2);
}

/* ----------------------- Sanemi area -------------------------- */
article .sanemi-area {
  width: 100%;
  height: 100vh;
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--landingPage1);
}

article .sanemi-area .sanemi-text h1 {
  font-size: 55px;
  position: relative;
  bottom: 25px;
  color: var(--white);
  margin-right: 20vh;
}

article .sanemi-area .sanemi-text i {
  font-size: 30px;
  position: relative;
  bottom: 25px;
  color: var(--white);
  margin-right: 20vh;
}

article .sanemi-area .sanemi-text p {
  width: 650px;
  text-align: justify;
  position: relative;
  top: 5vh;
  margin-right: 20vh;
  line-height: 22px;
  font-weight: bold;
  color: var(--white);
  font-size: 25px;
}

article .sanemi-area .sanemi-img img {
  width: 55%;
  height: 15%;
  position: relative;
  top: 60px;
  margin-left: 150px;
}

article .sanemi-area .sanemi-btn {
  background: var(--landingPage1);
  position: relative;
  right: 87vh;
  top: 23vh;
  width: 150px;
  padding: 10px 50px;
  border-radius: 10px;
}

article .sanemi-area .sanemi-btn a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

article .sanemi-area .sanemi-btn {
  box-shadow: 0 0 10px var(--landingPage2);
}

article .sanemi-area .sanemi-btn:hover {
  background: var(--landingPage2);
}
